#mainHeader, #mainFooter{
    background-color: rgb(241, 78, 60);
    text-align: center;
    color: white;
    margin:0%;
}

#mainTitle{
    align-items: center;
    text-align: center;
    margin-left: 50px;
}

#formConnect{
    text-align: right;
    align-items: center;
    padding-right: 10px;
}

#mainHeader{
    position: fixed;
    top: 0;
    width: 99%;
    padding-top: 1px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

#research{
    height: 30px;
    width: 400px;
    font-size: larger;
}

#formResearch{
    font-family: 'Lucida Sans';
    align-self: center;
}

#resButton{
    height: 30px;
    border: 0;
    color: white;
    background-color: rgb(0, 102, 255);
    font-size: larger;
}

#disconnect{
    border: 0;
    background-color: rgb(40, 152, 193);
    height: 20px;
    color: aliceblue;
    font-family: 'Lucida Sans';
}



#connection{
    align-self: center;
    background-color: rgb(43, 158, 11);
    color:white;
    border: 0;
}

#reset{
    align-self: center;
    background-color: rgb(255, 255, 255);
    border: 0;
}

body{
    font-family: 'Lucida Sans';
    background-color: rgb(148, 248, 255);
}


#mainFooter{
    position: fixed;
    bottom: 0;
    width: 99%;
}