#mainHeader, #mainFooter{
    background-color: rgb(241, 78, 60);
    text-align: center;
    color: white;
    margin:0%;
}

#mainTitle{
    align-items: center;
    text-align: center;
    margin-left: 50px;
}

#formConnect{
    text-align: right;
    align-items: center;
    padding-right: 25px;
}

#login{
    border-radius: 0.25cm;
    border: 0;
}

#password{
    border-radius: 0.25cm;
    border: 0;
}

#connection{
    margin-right: 5px;
    border-radius: 0.125cm;
    margin-top: 2px;
}

#reset{
    margin-right: 5px;
    border-radius: 0.125cm;
    margin-top: 2px;
}

#mainHeader{
    position: fixed;
    top: 0;
    width: 99%;
    padding-top: 1px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom-left-radius:1cm;
    border-bottom-right-radius: 1cm;
}

#research{
    height: 30px;
    width: 400px;
    font-size: larger;
    border-radius: 0.25cm;
}

#formResearch{
    font-family: 'Lucida Sans';
    align-self: center;
    align-items: center;
}

#resButton{
    height: 30px;
    border: 0;
    border-radius: 0.25cm;
    color: white;
    background-color: rgb(0, 102, 255);
    font-size: larger;
}

#disconnect{
    border: 0;
    background-color: rgb(40, 152, 193);
    height: 20px;
    color: aliceblue;
    font-family: 'Lucida Sans';
}



#connection{
    align-self: center;
    background-color: rgb(43, 158, 11);
    color:white;
    border: 0;
}

#reset{
    align-self: center;
    background-color: rgb(255, 255, 255);
    border: 0;
}

body{
    font-family: 'Lucida Sans';
    background-color: rgb(148, 248, 255);
}


#mainFooter{
    position: fixed;
    bottom: 0;
    width: 99%;
    border-top-left-radius: 0.5cm;
    border-top-right-radius: 0.5cm;
}

.recette {
    background: white;
    border-radius: 10px;
    overflow: hidden;
    padding: 10px;
    text-align: center;
    
}

.recette:hover {
    background: rgb(143, 248, 108);
}

.recette img {
    width: 220px;
    height: 150px;
    object-fit: cover;
}

#recettes-list{
    display: flex;
    flex-direction: row;   
}

.recettes-list li{
    list-style-type: none;
    margin: 10px; /*taille d'origine : 10px*/
    padding: 10px; /*taille d'origine : 10px*/
    border: 1;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}

#tags{
    border: 0;
    padding-top: 10px;
    color: white;
}

.tag-btn{
    background-color: white;
    border-radius: 0.25cm;
}

#recettePage {
    background: white;
    width: 60%;
    margin-top: 50px;
    margin-left: 300px;
    /*margin-right: 100px; */
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    font-size: larger;
}

#img-recette{
    width: 100%;
    height: 100%;
}

#backPage{
    border: 0;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    background-color: gold;
    font-family: 'Lucida Sans';
    font-size: large;
}

#backPage:hover{
    background-color: rgb(208, 255, 0);
}